<html>
Frontend API:
<form action="https://frontend.pay1.de/frontend/v2/" method=POST>
    <input type="hidden" name="aid" value="47578">
    <input type="hidden" name="amount" value="1499">
    <input type="hidden" name="clearingtype" value="cc">
    <input type="hidden" name="currency" value="EUR">
    <input type="hidden" name="de[1]" value="Jurassic">
    <input type="hidden" name="id[1]" value="1">
    <input type="hidden" name="mode" value="test">
    <input type="hidden" name="no[1]" value="1">
    <input type="hidden" name="portalid" value="2034634">
    <input type="hidden" name="pr[1]" value="1499">
    <input type="hidden" name="reference" value="1234567">
    <input type="hidden" name="request" value="authorization">
    <input type="hidden" name="va[1]" value="19">
    <input type="hidden" name="hash" value="ba65372e1f224d3b1eee997b6940a84f35aad04fbef5a6f85231abb423d2b5c8214bcf5b89c5957cc141443a6ad838c1">
    <input type=submit value="Buy now!">
</form>
</html>
